<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <img th:src="@{/images/SimLab.png}" alt="logo" class="img-fluid" id="logo">
    <div class="my-wrapper valign-wrapper center-align">
        <div class="row" style="width: 40%;">
            <div class="col s12">
                <h1 class="form-signin-heading">Sign Up</h1>
                <form th:object="${user}" th:action="@{/registration}" method="POST" class="form-signin">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="name" type="text" class="validate">
                            <label for="first_name">First Name</label>

                        </div>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label> <br/>
                        <div class="input-field col s6">
                            <input id="last_name" name="lastName" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                        <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="validation-message"></label> <br/>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message"></label> <br/>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message"></label>
                    </div>
                    <p>
                        <label>
                            <input type="radio" name="role" value="1"/>
                            <span>Instructor</span>
                        </label>
                        <label style="margin-left: 40px;">
                            <input type="radio" name="role" value="0"/>
                            <span>Student</span>
                        </label>
                    </p>
                    <button class='Login_button one' name="Submit" value="Login" type="Submit" >
                        <div class='insider'></div>
                        Sign Up
                    </button>
                    <span style="display: block; text-align:center; margin-top: 30px;" th:utext="${successMessage}"></span>
                </form>
                <center>
                <p>
                    Already have an account? <a th:href="@{/login}">Log In</a></p>
                </center>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>